.df{
    display: flex;
}
.jcsb{
    justify-content: space-between;
}
.mrg-top{
    margin-top: 20px;
}
.mx-w{
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}